
.bubble{
    overflow: hidden;
    cursor: pointer;
   transition: 0.3s;
}

.bubble:hover{
    transform: scale(1.0);
    transition: 0.6s;
}


@keyframes float {
    0%{
   
       
    }
    99%{
        top: -50px;
        display: contents;
    }
    100%{
       top: -150px;
       display: none;
       
    }
     }