
.bubble{
    overflow: hidden;
}


@keyframes float {
    0%{
   
       
    }
    99%{
        top: -50px;
        display: contents;
    }
    100%{
       top: -150px;
       display: none;
       
    }
     }