html {
    
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;

}

.flexBox{
    display: flex;
}


section{    
    height: 100%;
    width: 100%;
}

.center{
    justify-content: center;
    align-items: center;
}
    

.half{
    flex-basis: 50%;   
    height: 100%;
    width: 50%;
   
}
