
#sandbox{
    background-color: #e09d91;
    
    
}


#morph{
    display: inline-flex;    
    background-color: aquamarine;
    border-radius: 50px;
    width: 400px;
    height: 100px;
    transition: 0.3s;
    position: relative;      
    transition: 0.3s;
    overflow: hidden;
    
}

#morph:hover{
    transform: scale(1.05);
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.377);
    transition: 0.5s;
}

#morph:active{
    transform: scale(0.8);
}

/* #morph::after{    
    content: "";
    width: 30px;
    position: absolute;
    height: 30px;
    border-radius: 100px;
    background-color: orangered;
    top: 100px;
    left: 50px;
    
}

#morph:hover::after{
    animation: float 3s infinite;
    
    transition: 0.3s;
    
} */

@keyframes float {
 0%{

     transform: translateY(0px);
 }
 99%{
     transform: translateY(-150px);
     display: contents;
 }
 100%{
    transform: translateY(-151px);
    display: none;
    
 }
  }





