
#sandbox{
    background-color: #e09d91;
    
    
}


#morph{
    display: inline-flex;    
    background-color: aquamarine;
    border-radius: 50px;
    width: 400px;
    height: 100px;
    transition: 0.3s;
    position: relative;      
    transition: 0.3s;
    overflow: hidden;
    
}



#morph:hover{
    transition: 0.6s;
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.377);
    transition: 0.5s;
}


#morph:active{
    width: 800px;
    animation: badoing 1s forwards;
}



@keyframes float {
 0%{

     transform: translateY(0px);
 }
 99%{
     transform: translateY(-150px);
     display: contents;
 }
 100%{
    transform: translateY(-151px);
    display: none;
    
 }
  }

  @keyframes badoing{
      0%{
          transform: scale(1);
      }
      20%{
          transform: scale(0.95);
      }
      40%{
        transform: scale(1.05);
      }
      100%{
          transform: scale(1.05);
      }
  }





