
body{
    margin: 0;
    padding: 0;

}

#nav{
    width: auto;
    height: 5%;
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 4;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    border-radius: 100px;
   
}

#menu{
    transition: 0.3s;
}

#menu:hover{
    transform: rotateZ(90deg);
    transition: 0.6s
}

#nav:focus{
    width: 80%;
    transition: 0.5s;   
}

.grey:hover{
    background-color: white;
}

.grey{
    background-color: transparent;
    transition: 0.3s;
}


.color3{
    background-color: blue;
}

.spacer{
    flex: 15
}

#color{
    flex: 2;
}

section{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}



#left2{
    justify-content: center;
    align-items: center;
}

#sectionDos{
    background-color: lightgray;
}

.half{
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.target{
    display: inline-flex;    
    width: 100px;
    height: 100px;
    box-shadow: 5px 10px   #58575750;
    transition: box-shadow 0.2s, transform 0.4s;   
}

.target:active{
    box-shadow: 0px 0px;
    transform: scale(0.9);
    transition: box-shadow 0.2s, transform 0.5s;
    
}

.target:hover{
    transform: scale(1.2);
   
    transition: transform 0.2s, box-shadow 0.1s;

}

#targetOne{
    border-radius: 15px;
    background-color: #FF5959;
}

#targetTwo{
    border-radius: 50px;
    background-color: #39DFE5;

}

.flexBox{
    display: flex;
}

#sectionOne{
    background-color: #39DFE5;
    
}

.changeColor{
    background-color: gray;
    transition: 0.3s;
}

#sectionTwo{
    background-color: #FF5959;
}

.shadow{
    text-align: center;
}

#shadowText{
    width: auto;
    font-size: 100px;;
}

#cat{
    height: 100%;
    width: 100%;
}


.cursor {
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #f44336;
    position: absolute;
    border-radius: 5px;
    z-index: 50;
  }

  
  /* Unrelated styles */
  html {
    
    scroll-behavior: smooth;
  }

  #sectionUno{
    cursor: none;
  }
   